/bin/
/target/
/build/
/.mvn/
/.classpath
/.project
/.settings
/.idea
*.iml
*.ipr
*.iws
*.class
/out/
.DS_Store
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md
