input {
    rabbitmq {
        host => "localhost"
        port => 15672
        heartbeat => 30
        durable => true
        exchange => "ex_logstash"
        exchange_type => "direct"
    }
}
output {
  elasticsearch { embedded => true }
  rabbitmq {
    exchange => "logtail"
    host => "localhost"
    exchange_type => "direct" # We use topic here to enable pub/sub with routing keys
    key => "logs.%{host}"
    durable => false # If rabbitmq restarts, the exchange disappears.
    auto_delete => true # If logstash disconnects, the exchange goes away
    persistent => false # Messages are not persisted to disk
  }
}